KAMIS_SERVICE_KEY=your_public_data_portal_service_key
KAMIS_API_URL=https://apis.data.go.kr/B552845/recent/price
KAMIS_API_TIMEOUT=15
KAMIS_API_PAGE_SIZE=1000

DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=smartshopping
DB_USER=root
DB_PASSWORD=change_me
